<div class="cd-grid cd-grid--2-col cd-grid--background cd-grid--grow">
  <div class="cd-grid-item">
    <h3>Knowledge Management Platform (KMP)</h3>

    <p>The online Knowledge Management Platform (KMP) is a point of reference for users to seek good field examples, templates, guidance, tools, capacity building materials relevant to coordinated needs assessment and analysis. The KMP ensures that all the information is updated and easily available to the right users at the right time. Users are also encouraged to propose new knowledge resources to be included among the available material.</p>

    <p>At the heart of the KMP is a list of documents tagged using the six steps and sub-steps of the Needs Assessment Lifecycle. If required, each document is further tagged with few other categories which are explained in the document linked here.</p>

    <p><a href="/knowledge-management">Access all of the documents in the Knowledge Management Platform</a></p>
  </div>

  <div class="cd-grid-item">
    <h3>Assessment Registry</h3>

    <p>The assessment registry provides a way for organizations to share the details and results of humanitarian assessments. The Assessment Registry provides this service so agencies can discover assessments that have already been undertaken and avoid unnecessary survey fatigue. The assessment registry is public and available to all concerned with the emergency.</p>

    <p>The Humanitarian Response country websites come with an integrated assessment registry. It sorts assessments undertaken by title, location, leading and participating organizations, sectors and assessment status. Additionally, it provides the link to the assessment reports, questionnaires and data if made publicly available.</p>
  </div>

  <div class="cd-grid-item">
    <h3>Needs and Response Analysis Section (NARAS)</h3>

    <p>The Needs and Response Analysis Section (NARAS) within the Assessment Planning and Monitoring Branch (APMB) in Geneva provides guidance and coordinative support to assist humanitarian actors in a reaching common understanding of the humanitarian situation and needs, and to guide the next steps of strategic planning, monitoring and resource-mobilization.</p>

    <p>NARAS also leads internal efforts to build OCHA and partners’ capacity to coordinate multi-sectoral assessments and analysis. This includes clarifying the OCHA policy on coordinated assessments, enhancing staff capacity at global, regional and country levels to coordinate assessment and analysis, and providing technical advice to OCHA field offices on assessments and joint analysis across sectors.</p>

    <p><a href="https://www.unocha.org/themes/needs-assessment-and-analysis">More information on NARAS</a></p>
  </div>
</div>
